
* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #070F1D;
    
}
.fuente-kaushan {
    font-family: 'Kaushan Script', cursive !important;
}


.navbar{
    background-color: #001746;
}


.bi-code-slash{
    font-size: 2rem;
}
.row{
    margin: 1%;
}
#Hola{
    font-size: 1.5rem;
}
/* Colores texto */

#Hola, #Real, .bi-code-slash{
    color: #4E51FB;
}
.lead, .lead1, .lead2, .proyectos, .nav-link, .titulo3, .card-text, .infoF, #hText,h3{
    color: #9AA6BC;
}

h2, .fondoBlanco, #kendarg, .sobre2, .Mensaje {
    color: white ;
}


.infoIconos{
    display: flex;
    flex-direction: column;
}
.bi-github, .bi-people-fill, .bi-person-gear, .itemsCentrar, .fa-bullseye .fa-graduation-cap,
.bi-rocket-takeoff, .bi-person, .fa-folder-open, .arrow, .sobre1{
    color: #365EAF;
    font-size: 1.5rem;
}
.itemsCentrar{
    display: flex;
    align-items: flex-start;
}
.lead2{
    font-size: 1rem;
}


.nav-link:hover{
    transition: .3s ease-in-out all;
    color: white;
    border-top: solid #4c8ef1;
    border-bottom: solid #4c8ef1;
    transform: scale(1.1);
}

.fondoNegro{
    color: black;
}

.bootstrap {
    color: #6A2EBA;
}

.logoBootstrap .fa-square {
    transform: scale(0.85);
}

.java{
    color: #365EAF  ;
}

.logoJava .fa-square{
    transform: scale(1.20);
}
.js{
    color: #E4D333;
}
.logoJS .fa-square{
    transform: scale(0.5);
}
.css{
    color: #538ACA;
}
.html{
color: #ED5F2C;
}
.centro{
    display: flex;
    margin-left: 1rem;
}


.logoCSS .fa-square, .logoHtml .fa-square{
    transform: scale(0.70);
}

.logoBootstrap, .logoJava, .logoJS, .logoCSS, .logoHtml{
    margin-left: 1rem;
    font-size: 2rem;
}
.itemsM, .habilidadesIconos{
    display: flex;
}
.itemsM{
margin-left: 1rem;
}


.fa-folder-open, .bi-rocket-takeoff{
    margin-right: 0.5rem;
    font-size: 2rem;
}
.bi-person{
    display: flex;
    margin-right: 0.5rem;
    font-size: 2.8rem;
}

/* Imagenes */

.foto1{
    width: 400px;
    height: auto;
    border-radius: 50px;
}
.foto2, .foto2g{
    width: 300Px;
    height: auto;
    border-radius: 10px;

}
.Laptop2{
    height: 120%;
    width: auto;
}
.foto2, .efecto:hover .foto2g{
    display: flex;
}
.foto2g, .efecto:hover .foto2{
    display: none;
}

.lead{
    font-size: 1.5rem;

}

.bi-person-gear, .bi-people-fill, .bi-github{
    font-size: 1.8rem;
    margin-right: 0.5rem;
    margin-left: 1rem;
}

/* Cards */

.shadow-sm{
    background-color: transparent;
    border: solid 2px rgb(94, 92, 92);
    height: 40rem;
    color: white;
}
.card-text, .inicioK{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

article{
    position: relative;
    width: 582px;
    transition: all .3s ease;
}
article img:first-child{
    box-shadow: 0 60px 60px -60px rgb(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}

article img:last-child{
    position: absolute;
    width: 250px;
    bottom: 0;
    left: 0%;
    right: 0;
    margin: auto;
    transform:  translateY(0%);
    transition: .3s ease;
    opacity: 0;
}

article:hover{
    transform:
    perspective(250px)
    rotateX(5deg)
    translateY(-5%)
    translateZ(0);
}

article::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to bottom, transparent 10%,
        rgba(0,0,0,0.5) 50%,
        rgba(0,0,0) 95%
    );
    opacity: 0;
    transition: all .3s ease;

}

article:hover::before{
    opacity: 1;
}

article:hover img:last-child{
    opacity: 1;
    transform: translateY(10%);
}


/* Inclinacio texto */

#Constancia{
    font-size: 1.8rem;
    color: #5c82a6;
    text-align: center;
    line-height: 1.2;
    position: relative;
    display: inline-block;
    transform: rotate(-10deg);
    margin: 2rem 0;
}



/* Botonoes */

.descarga{
    width: 150px;
    height: 50px;
    border-radius: 20px;
}
.btnD{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: solid #2f80fa;
    background-color: #2f80fa;
    box-shadow: 1px 1px 30px #4E51FB;
}
    
.btnD span{
    transition: .4s  ease-in-out all;
    position: absolute;
    right: 40px;
    top: 20px;
    color: white;
}

.btnD .iconoD{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    right: 40px;
    transition: .4s ease-in-out all;
    opacity: 0;
    font-size: 10rem;
}
.iconoD{
    margin-top: -0.8rem;
}

.btnD svg{
    color: white;
    width: 1.5rem;
    height: auto;
}

.btnD:hover{
    background: #4E51FB;
    box-shadow:1px 5px 7px #00d0ff;
}
.btnD:hover .iconoD{
    right: calc(9% - 50px);
    opacity: 1;
}

.btnD:hover span{
    right: 20px;
}

.btnEmail{
    width: 300px;
    height: 80px;
    border: solid #346FFC;
    background-color: #346FFC;
    border-radius: 10px;
    color: white;
    box-shadow: 1px 1px 8px 0 #0059ff;
    font-size: 1.5rem;
}

.btnEmail:hover{
    transition: .3s ease-in-out all;
    background-color: #4E51FB;
    transform: scale(1.1);
}

/* footer */

.redesInf{
    width: 100%;
}
a{
    text-decoration: none;
}

.Misp{
    margin-top: 1rem;
}
.redesInf, .Misproyectos{
    margin-top: 1rem;
    border-top: rgba(255, 255, 255, 0.658) solid 0.1rem;
}
.itemsFoot{
    margin-bottom: 1rem;

}
.iconFoot{
    color: white;
    margin-right: 1rem;
}
.nombreF, .lead3{
    color: #67A2E0;
    margin-left: 1rem;
}
.datoF{
    color: #57697F;
}

.sobre1{
    font-size: 2rem;
    margin-right: 1rem;
}

.infoF{
    font-size: 1.5rem;
    
}
.fa-rocket{
    font-size: 2.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* Lieneas bajas */

#Constancia::after{
    content: "";
    position: absolute;
    bottom: -50px;
    right: -10px;
    width: 110%;
    height: 40px;
    border-bottom: 3.5px solid #2b6cb0;
    border-right: 3.5px solid #2b6cb0;
    border-radius: 0 80px 50px 0;
    transform: rotate(-190deg);
}

#Hablamos::after{
    content: "";
    position: absolute;
    bottom: -62rem;
    right: 29rem;
    width: 3%;
    height: 10rem;
    border-right: 4.5px solid #2b6cb0;
    border-radius: 10px 100px 0px 100px;
    transform: rotate(-90deg);
}


.sobreP{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
@media (min-width: 768px) {
    .separador {
        border-left: 2px solid #365EAF;
        padding-left: 2rem;
        height: 18rem;
        align-self: center;
    }
}